<app-nav-bar></app-nav-bar>

<div class="container m-auto md:h-[calc(100vh_-_-100px)] 2xl:h-[calc(100vh_-_184px)]">

    <div class="block md:grid grid-cols-6 gap-4">

        <div class="col-span-4">
            <app-tramite-form-create></app-tramite-form-create>
        </div>

        <div class="col-span-2">
            <app-tramite-form-info></app-tramite-form-info>
        </div>

    </div>

</div>


<footer id="footer" class="h-32 bg-primary mt-8">
    <div
         class="flex flex-col justify-center items-center h-32 text-white font-semibold tracking-widest ">
        <p>Teléfono : 000000008 </p>
        <p class="">Contáctanos a través de nuestras redes sociales</p>
        <img src="assets/icons/face.svg" alt="image" class="w-10">
    </div>
</footer>
