<nav class="h-14 bg-primary w-full">
    <div class="container m-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <img src="favicon.ico" alt="logo">
                <h2 class="ml-4 text-2xl text-white tracking-widest">Bienvenidos</h2>
            </div>

            <ul
                class="h-14 w-64 flex items-center justify-evenly text-white font-bold tracking-wider">
                <app-link fragment="inicio">Inicio</app-link>
                <app-link fragment="servicios">Servicios</app-link>
                <app-link-navigate [value]="'/auth/login'">Login</app-link-navigate>
            </ul>
        </div>
    </div>
</nav>
