<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               class="w-48"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="bg-primary text-white">Menu</mat-toolbar>
    <mat-nav-list>
      <app-link-admin icon="person_pin" url="/admin/usuarios">
        Usuarios
      </app-link-admin>
      <app-link-admin icon="receipt_long" url="/admin/tramites">
        Tramites
      </app-link-admin>
      <app-link-admin icon="event_busy" url="/admin/asistencias">
        Asistencias
      </app-link-admin>
      <app-link-admin icon="post_add" url="/admin/posts">
        Post
      </app-link-admin>
      <app-link-admin icon="settings" url="/admin/configuracion">
        Configuracion
      </app-link-admin>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-primary text-white">

      <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h2>Nombre de la escuela</h2>

      <div class="flex-1"></div>

      <p class="pr-5">{{ (user$ | async)?.name }}</p>
      <button color="priamry" mat-raised-button (click)="logaout()">Salir</button>

    </mat-toolbar>

    <div class="container m-auto px-2 md:px-4 mt-3">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
