<div *ngIf="status === 'loading';else contentTramites">
    ...cargando
</div>

<ng-template #contentTramites>

    <table mat-table [dataSource]="tramites" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}
                {{ element.apellidos}}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tramiteEstado">
            <th mat-header-cell *matHeaderCellDef> Tramite estado </th>
            <td mat-cell *matCellDef="let element">
                <p [ngClass]="{
                            pendiente:element.tramite_estado === 'pendiente', 
                            proceso:element.tramite_estado === 'proceso',
                            rechazado:element.tramite_estado === 'rechazado', 
                            aprobado:element.tramite_estado === 'aprobado'}">
                    {{element.tramite_estado}}
                </p>
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="visto">
            <th mat-header-cell *matHeaderCellDef> Visto </th>
            <td mat-cell *matCellDef="let element">
                <p *ngIf="element.visto === 0">{{'por revisar' | titlecase}}</p>
                <p *ngIf="element.visto === 1">{{'revisado' | titlecase}}</p>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tramiteNombre">
            <th mat-header-cell *matHeaderCellDef> Tramite Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.tramite_nombre}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha|date}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [routerLink]="['/admin/tramites',element.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteTramite(element.id)" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ng-template>
