<h1 mat-dialog-title>Eliminando Tramite</h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field> -->
</div>
<div mat-dialog-actions>
    <button mat-button class="bg-red-400 text-white"
            (click)="closeModal()">Cancelar</button>
    <button mat-button class="bg-primary text-white" [mat-dialog-close]="true"
            cdkFocusInitial>Enviar</button>
</div>
