<article class="hero-image text-white"
         style="--image:url('assets/images/image4.jpg')">
    <aside class="hero-image-opacity text-center flex items-center justify-center">
        <div class="hero-image-content">
            <h2 class="text-5xl font-bold tracking-widest text-white mb-4">
                {{'Nombre del colegio' | titlecase}}
            </h2>
            <p class="font-semibold mb-4 font-sans text-2xl">
                Frase de la escuela
            </p>
            <app-button-tramite>Tramites</app-button-tramite>
        </div>
    </aside>
</article>
