<div class="shadow-lg shadow-primary/50 rounded-lg overflow-hidden">
    <figure>
        <img [src]="servicios.image" alt="image"
             class="h-72 object-cover hover:opacity-70">
    </figure>

    <div class="p-4">
        <h3 class="text-center text-xl font-semibold tracking-wider">{{ servicios.title }}
        </h3>
        <p class="text-center mt-3">{{ servicios.descripcion }}</p>
    </div>

    <div class="p-4 flex justify-center">
        <button [routerLink]="[servicios.url]"
                class="bg-primary border text-white border-primary font-semibold py-2 w-64 tracking-widest shadow-lg shadow-primary/40 hover:bg-transparent hover:text-primary transition-all duration-300">Ingresar</button>
    </div>
</div>
